poc/soapui/CCMHPE/EngineService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown.--><xs:schema version="1.0" targetNamespace="urn:hpexstream-services/Engine" xmlns:tns="urn:hpexstream-services/Engine" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ews.client.Compose" type="tns:ews.client.Compose"/>
  <xs:element name="ews.client.ComposeResponse" type="tns:ews.client.ComposeResponse"/>
  <xs:element name="ews.client.EngineServiceException" type="tns:ews.client.EngineServiceException"/>
  <xs:complexType name="ews.client.Compose">
    <xs:sequence>
      <xs:element name="EWSComposeRequest" type="tns:ewsComposeRequest" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ewsComposeRequest">
    <xs:sequence>
      <xs:element name="driver" type="tns:driverFile" minOccurs="0"/>
      <xs:element name="driverEncoding" type="xs:string" minOccurs="0"/>
      <xs:element name="engineOptions" type="tns:engineOption" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="fileReturnRegEx" type="xs:string" minOccurs="0"/>
      <xs:element name="includeHeader" type="xs:boolean"/>
      <xs:element name="includeMessageFile" type="xs:boolean"/>
      <xs:element name="outputFile" type="tns:output" minOccurs="0"/>
      <xs:element name="pubFile" type="xs:string" minOccurs="0"/>
      <xs:element name="pubFiles" type="tns:pubFiles" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="driverFile">
    <xs:sequence>
      <xs:element name="driver" type="xs:base64Binary" minOccurs="0"/>
      <xs:element name="fileName" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="engineOption">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="value" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="output">
    <xs:sequence>
      <xs:element name="directory" type="xs:string" minOccurs="0"/>
      <xs:element name="fileName" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pubFiles">
    <xs:sequence>
      <xs:element name="pubFile" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ews.client.ComposeResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:ewsComposeResponse" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ewsComposeResponse">
    <xs:sequence>
      <xs:element name="engineMessage" type="xs:base64Binary" minOccurs="0"/>
      <xs:element name="files" type="tns:engineOutput" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="statusMessage" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="engineOutput">
    <xs:sequence>
      <xs:element name="fileHeader" type="tns:header" minOccurs="0"/>
      <xs:element name="fileName" type="xs:string" minOccurs="0"/>
      <xs:element name="fileOutput" type="xs:base64Binary" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="header">
    <xs:sequence>
      <xs:element name="DDAOutputFile" type="xs:boolean"/>
      <xs:element name="defaultExtension" type="xs:string" minOccurs="0"/>
      <xs:element name="fileType" type="xs:string" minOccurs="0"/>
      <xs:element name="messageLength" type="xs:int"/>
      <xs:element name="outputLength" type="xs:int"/>
      <xs:element name="PDL" type="xs:int"/>
      <xs:element name="pageCount" type="xs:int"/>
      <xs:element name="returnCode" type="xs:int"/>
      <xs:element name="userData" type="xs:string" minOccurs="0"/>
      <xs:element name="userDataLength" type="xs:int"/>
      <xs:element name="version" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ews.client.EngineServiceException">
    <xs:sequence>
      <xs:element name="faultInfo" type="xs:string" minOccurs="0"/>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>